<div class="outline">
  <header>
    <h1>Ask a Question</h1>
    <button><a href="/contact">Back</a></button>
  </header>
  
  <main>
    <form>
  
      <div class="signup">
  
        <div class="input">
          <label for="summary">Summary of Question</label>
          <input name="summary" id="summary" type="textarea" class="field">
        </div>
        <div class="input">
          <label for="question">Details</label>
          <input name="question" id="question" type="textarea" class="field">
        </div>
  
      </div>
  
      <div>
        <button>Submit</button>
      </div>
  
    </form>
  </main>
</div>