<h1>Ask a Question</h1>

<form action="">
  <div>
    <label for="summary">Summary of Question</label>
    <input name="summary" id="summary" type="textarea">
  </div>
  <div>
    <label for="question">Details</label>
    <input name="question" id="question" type="textarea">
  </div>
</form>