<header>
  <h1>Account</h1>
  <!-- if user is logged in -->
  <% if (user) { %>
    <h2>Welcome, <%= `${user.first} ${user.last}` %></h2>
  <% } else { %>
    <h4>Have an account? Log in here:</h4>
    <button><a href="/account/login">Log In</a></button>
    <h4>Otherwise, sign up here:</h4>
    <button><a href="/account/signup">Sign Up</a></button>
  <% } %>
</header>