<h1>Log In</h1>
<form action="">
  <div>
    <label for="email">EMAIL</label>
    <input name="email" id="email" type="text">
  </div>
  <div>
    <label for="password">PASSWORD</label>
    <input name="password" id="password" type="text">
  </div>
</form>