<div class="outline">
  <header>
    <h1>Log In</h1>
  </header>
  
  <main>
    
    <form>
  
      <div class="signup">
  
        <div class="input">
          <input name="email" id="email" type="email" placeholder="email" autofocus class="field">
          <div class="emailErrors"></div>
        </div>
        <div class="input">
          <input name="password" id="password" type="password" placeholder="password" class="field">
          <div class="passwordErrors"></div>
        </div>
        
      </div>
  
      <div class="submit">
        <button>Log In</button>
      </div>
  
    </form>
  
  </main>
</div>

<script src="/js/login.js"></script>