<h1>Sign Up</h1>
<form>
  <div class="firstErrors"></div>
  <div>
    <label for="first">First name</label>
    <input name="first" id="first" type="text">
  </div>
  <div class="lastErrors"></div>
  <div>
    <label for="last">Last name</label>
    <input name="last" id="last" type="text">
  </div>
  <div class="emailErrors"></div>
  <div>
    <label for="email">Email</label>
    <input name="email" id="email" type="text">
  </div>
  <div class="passwordErrors"></div>
  <div>
    <label for="password">Password</label>
    <input name="password" id="password" type="text">
  </div>
  <div>
    <button>Sign Up</button>
  </div>
</form>

<script src="/js/signup.js"></script>