<h1>Sign Up</h1>
<form action="">
  <div>
    <label for="username">USERNAME</label>
    <input name="username" id="username" type="text">
  </div>
  <div>
    <label for="email">EMAIL</label>
    <input name="email" id="email" type="text">
  </div>
  <div>
    <label for="password">PASSWORD</label>
    <input name="password" id="password" type="text">
  </div>
</form>