<div class="outline">
  <header>
    <h1>Sign Up</h1>
  </header>
  
  <main>  
    <form autocomplete="off">
  
      <div class="signup">
  
        <div class="input">
          <input name="first" id="first" type="text" placeholder="first name" autofocus class="field">
          <div class="firstErrors"></div>
        </div>
  
        <div class="input">
          <input name="last" id="last" type="text" placeholder="last name" class="field">
          <div class="lastErrors"></div>
        </div>
  
        <div class="input">
          <input name="email" id="email" type="text" placeholder="email" class="field">
          <div class="emailErrors"></div>
        </div>
  
        <div class="input">
          <input name="password" id="password" type="text" placeholder="password" class="field">
          <div class="passwordErrors"></div>
        </div>
  
      </div>
  
      <div class="submit">
        <button>Sign Up</button>
      </div>
  
    </form>
  </main>
</div>

<script src="/js/signup.js"></script>