<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <!-- FONT 1 -->
  <!-- FONT 2 -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.0/css/all.css" integrity="sha384-OLYO0LymqQ+uHXELyx93kblK5YIS3B2ZfLGBmsJaUyor7CpMTBsahDHByqSuWW+q" crossorigin="anonymous">
  <title>The Scholtz School of Music</title>
</head>
<body>

  <nav>
    <ul class="mainNav">
      <li><a href="">SIGN UP</a></li>
      <li><a href="">RESOURCES</a></li>
      <li><a href="">FIND ANSWERS</a></li>
      <div class="dropdown">
          <button class="dropbtn">ACCOUNT <i class="fas fa-chevron-circle-down"></i></button>
          <div class="dropdown-content">
            <a href="/account/profile">Profile</a>
            <a href="/account/logout">Logout</a>
          </div>
      </div>
    </ul>
  </nav>
<!-- BODY -->
  <%- body %>

  <footer>
    <h5>Find us on these platforms</h5>
  </footer>

  <script src="/js/script.js"></script>

</body>
</html>