<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.0/css/all.css" integrity="sha384-OLYO0LymqQ+uHXELyx93kblK5YIS3B2ZfLGBmsJaUyor7CpMTBsahDHByqSuWW+q" crossorigin="anonymous">
  <title>The Scholtz School of Music</title>
</head>
<body>

  <nav class="mainNav">
    
    <div class="img-container">
      <img class="img" src="/images/png_SSOM_logomark_charcoal.png" alt="logo">
    </div>

    <ul>
      <li class="dropdown first">
        <button class="drop-button"><a href="/join">JOIN</a></button>
        <div class="drop-content">
          <a href="/join">Guitar</a>
          <a href="/join">Drums</a>
          <a href="/join">Bass</a>
          <a href="/join">Music Theory</a>
        </div>
      </li>
      <li class="dropdown second">
        <button class="drop-button"><a href="/resources">RESOURCES</a></button>
        <div class="drop-content">
          <a href="/resources/browse">Browse</a>
          <a href="/resources/custom">Custom Resource</a>
        </div>
      </li>
      <li class="dropdown second">
        <button class="drop-button"><a href="/contact">FIND ANSWERS</a></button>
        <div class="drop-content">
          <a href="/contact/faq">FAQ</a>
          <a href="/contact/ask">Ask a Question</a>
        </div>
      </li>
      <li class="dropdown third">
        <button class="drop-button"><a href="/account">ACCOUNT</a></button>
        <div class="drop-content">
          <a href="/account/lessons">Lessons</a>
          <a href="/account/invoices">Invoices</a>
          <a href="/account/logout">Logout</a>
        </div>
      </li>
    </ul>
    
  </nav>
<!-- BODY -->
  <%- body %>

  <footer>
    <h4>Find us on these platforms</h4>
  </footer>

  <script src="/js/main.js"></script>

</body>
</html>