<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.0/css/all.css" integrity="sha384-OLYO0LymqQ+uHXELyx93kblK5YIS3B2ZfLGBmsJaUyor7CpMTBsahDHByqSuWW+q" crossorigin="anonymous">
  <title>The Scholtz School of Music</title>
</head>
<body>

  <nav>
    <ul class="mainNav">
      <li class="img">
        <img src="https://images.unsplash.com/photo-1510915361894-db8b60106cb1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="logo">
      </li>
      <li class="dropdown first">
        <button class="drop-button">SIGN UP</button>
        <div class="drop-content">
          <a href="/resources/profile">Guitar</a>
          <a href="/resources/logout">Drums</a>
          <a href="/resources/logout">Bass</a>
          <a href="/resources/logout">Music Theory</a>
        </div>
      </li>
      <li class="dropdown second">
        <button class="drop-button">RESOURCES</button>
        <div class="drop-content">
          <a href="/resources/browse">Browse</a>
          <a href="/resources/custom">Custom Resource</a>
        </div>
      </li>
      <li class="dropdown second">
        <button class="drop-button">FIND ANSWERS</button>
        <div class="drop-content">
          <a href="/resources/profile">FAQs</a>
          <a href="/resources/logout">Ask a Question</a>
        </div>
      </li>
      <li class="dropdown third">
        <button class="drop-button"><a href="/account">ACCOUNT</a></button>
        <div class="drop-content">
          <a href="/account/lessons">Lessons</a>
          <a href="/account/invoices">Invoices</a>
          <a href="/account/logout">Logout</a>
        </div>
      </li>

    </ul>
  </nav>
<!-- BODY -->
  <%- body %>

  <footer>
    <h4>Find us on these platforms</h4>
  </footer>

  <script src="/js/main.js"></script>

</body>
</html>