<div class="outline">
  <header>
    <h1>Request a Custom Resource</h1>
    <button><a href="/resources">Back</a></button>
  </header>
  
  <main>
    
    <p>Fill out the form below to a submit a custom resource form</p>
  
    <form>
      <div class="signup">
        <div class="input">
          <input name="title" id="title" type="text" placeholder="resource name" class="field">
        </div>
        <div class="input">
          <input name="pages" id="pages" type="number" placeholder="# of pages" class="field">
        </div>
      </div>
      <div>
        <button class="submit">Submit</button>
      </div>
  
    </form>
  
  </main>
</div>