<button><a href="/resources">Back</a></button>
<h1>Request a Custom Resource</h1>
<p>Fill out the form below to a submit a custom resource form</p>
<form action="">
  <div>
    <label for="title">Name of Resource</label>
    <input name="title" id="title" type="text">
  </div>
  <div>
    <label for="pages">Number of Pages</label>
    <input name="pages" id="pages" type="number">
  </div>
</form>