<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body style="margin: 0; padding: 0;">
    <table
      border="0"
      cellpadding="0"
      cellspacing="0"
      width="600"
    >
      <tr>
        <td bgcolor="#1D1D1B" style="padding: 20px 0 20px 30px; color: white; font-size: 17px;">
          Dear <%= `${first} ${last}` %>
        </td>
      </tr>
      <tr>
        <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td style="font-size: 15px;">
                Welcome to The Scholtz School of music! You've signed up with this email address. Please confirm that this email address exists by clicking the button below.
              </td>
            </tr>
            <tr>
              <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td width="100%" valign="top">
                      <table
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        width="100%"
                      >
                        <tr>
                          <td style="padding: 25px 0 0 0;">
                            <button style="padding: 0px; display: block; margin: 0 auto; width: 190px; height: 45px; border: 2.5px solid #1D1D1B; border-radius: 45px; font-weight: 700; background: white;">
                              <a style="padding: 5% 0px; text-align: center; color: black; text-decoration: none; display: block; width: 100%; height: 100%; font-size: 19px;" href="https://scholtzschoolofmusic.co.za/account/<%= randomString %>" target="_blank">Confirm Email</a>
                            </button>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td bgcolor="#F1C54E" style="padding: 30px;">
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td width="100%">
                <img src="https://drive.google.com/uc?export=view&id=155mAFrFv3pej6cx0d_tBJHIsnIyjG-uw" style="display: block; margin: 0 auto;" width="260" alt="logo"></img>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
