<head>
  <style>
    .myContainer {
      width: 60%;
      padding: 30px;
      margin: 0 auto;
    }
    a {
      text-decoration: none;
      color: black;
    }
  </style>
</head>
<div class="myContainer">
  <p>Dear <%= `${first} ${last}` %>,</p>
  <h1>Confirm your email below</h1>
  <p>Click the button below to confirm your email address:</p>
  <button><a href="https://scholtzschoolofmusic/account/<%= randomString %>" target="_blank">Confirm Email</a></button>

  <p>Kind regards,</p>
  <p>The Scholtz School of Music</p>
</div>