<header id="home">
  <h1>The Scholtz School of Music</h1>
  <h4>Growing a culture of musical excellence</h4>
</header>

<main class="home">

  <article class="home__sign-up">
    <h2><a href="/join">JOIN</a></h2>
    <div>
      <section>
        <i class="fas fa-guitar"></i>
        <button class="submit"><a href="/join/guitar">Guitar</a></button>
        <p>Learn all about chords, scales, right-hand techniques and more</p>
      </section>
      <section>
        <i class="fas fa-drum"></i>
        <button class="submit"><a href="/join/drums">Drums</a></button>
        <p>Find the groove and learn all about how to play the drums</p>
      </section>
      <section>
        <i class="fas fa-guitar"></i>
        <button class="submit"><a href="/join/bass">Bass</a></button>
        <p>Learn all about the bass and how to gel in the rhythm section</p>
      </section>
      <section>
        <i class="fas fa-music"></i>
        <button class="submit"><a href="/join/theory">Music Theory</a></button>
        <p>Learn the language of music that all serious musicians speak</p>
      </section>
    </div>
  </article>

  <article class="home__resources">
    <h2><a href="/resources">RESOURCES</a></h2>
    <div>
      <section>
        <i class="fas fa-file-invoice"></i>
        <button class="submit"><a href="/resources">Browse</a></button>
        <p>Resources for musicians, teachers and students</p>
      </section>
      <section>
        <i class="fas fa-pencil-alt"></i>
        <button class="submit"><a href="/resources/custom">Custom Resources</a></button>
        <p>Request a custom worksheet tailored to your musical needs</p>
      </section>
    </div>
  </article>

  <article class="home__contact">
    <h2><a href="/contact">FIND ANSWERS</a></h2>
    <div>
      <section>
        <i class="fas fa-archive"></i>
        <button class="submit"><a href="/contact">FAQs</a></button>
        <p>Browse frequently asked questions. Maybe someone else has asked the questions you have.</p>
      </section>
      <section>
        <i class="fas fa-question"></i>
        <button class="submit"><a href="/contact/ask">Ask a Question</a></button>
        <p>If you can't find the answers you're looking for in the FAQs section, send us a message.</p>
      </section>
    </div>
  </article>

</main>