<header class="home__header">
  <h1>The Scholtz School of Music</h1>
  <h4>Growing a culture of musical excellence</h4>
  <button class="submit"><a href="/account/signup">Sign Up</a></button>
</header>

<main class="home__main">

  <article class="home__join">
    <h2><a href="/join">Join</a></h2>
    <h5>Start your music education journey here</h5>
    <div>
      <section>
        <i class="fas fa-guitar"></i>
        <button class="submit"><a data-discipline="guitar">Guitar</a></button>
        <p>Learn all about chords, scales, right-hand techniques and more</p>
      </section>
      <section>
        <i class="fas fa-drum"></i>
        <button class="submit"><a data-discipline="drums">Drums</a></button>
        <p>Find the groove and learn all about how to play the drums</p>
      </section>
      <section>
        <i class="fas fa-guitar"></i>
        <button class="submit"><a data-discipline="bass">Bass</a></button>
        <p>Learn all about the bass and how to gel in the rhythm section</p>
      </section>
      <section>
        <i class="fas fa-music"></i>
        <button class="submit"><a data-discipline="theory">Music Theory</a></button>
        <p>Learn the language of music that all serious musicians speak</p>
      </section>
    </div>
  </article>

  <article class="home__resources">
    <div>
      <section>
        <h2><a href="/resources">Resources</a></h2>
        <p>Browse our exclusive library of resources - from music theory to practice techniques - or request a custom resource to fit your specific musical needs</p>
      </section>
      <section>
        <!-- left empty for space -->
      </section>
      <section>
        <i class="fas fa-file-invoice"></i>
        <button class="submit"><a href="/resources">Browse</a></button>
        <p>Resources for musicians, teachers and students</p>
      </section>
      <section>
        <i class="fas fa-pencil-alt"></i>
        <button class="submit"><a href="/resources/custom">Custom Resources</a></button>
        <p>Request a custom worksheet tailored to your musical needs</p>
      </section>
    </div>
  </article>

  <article class="home__contact">
    <h2><a href="/contact">Find answers</a></h2>
    <p>Have a question? Check out the FAQs to find answers or submit a new question and we'll get back to you with an answer as soon as possilbe.</p>
    <div>
      <section>
        <button class="submit"><a href="/contact">FAQs</a></button>
      </section>
      <section>
        <button class="submit"><a href="/contact/ask">Ask a Question</a></button>
      </section>
    </div>
  </article>

</main>