<header>
  <h1>The Scholtz School of Music</h1>
  <h4>Growing a culture of musical excellence</h4>
</header>

<main>
  <article class="sign-up">
    <h2>JOIN</h2>
    <section>
      <h4>Guitar</h4>
      <p>Learn all about chords, scales, right-hand techniques and more.</p>
    </section>
    <section>
      <h4>Drums</h4>
      <p>Join a class to learn with others about important musical concepts and skills. Class topics range from theory to composition, history to philosophy, performance to sound engineering.</p>
    </section>
    <section>
      <h4>Bass</h4>
      <p>Sign up for a fixed period of time to immerse yourself in a musical instrument or topic. Courses range from short (1 month) to long (1 year).</p>
    </section>
    <section>
      <h4>Music Theory</h4>
      <p>Sign up for a fixed period of time to immerse yourself in a musical instrument or topic. Courses range from short (1 month) to long (1 year).</p>
    </section>
  </article>

  <article class="resources">
    <h2>RESOURCES</h2>
    <section>
      <h4>Browse</h4>
      <p></p>
    </section>
    <section>
      <h4>Custom Resource</h4>
    </section>
  </article>

  <article class="find-answers">
    <h2>FIND ANSWERS</h2>
    <section>
      <h4>FAQs</h4>
      <p>Find answers to frequently asked questions. Maybe someone else has asked the questions you have.</p>
    </section>
    <section>
      <h4>Ask a Question</h4>
      <p>If you can't find the answers you're looking for in the FAQs section, send us a message.</p>
    </section>
  </article>
</main>