body {
  margin: 0px;
  font-family: Roboto, sans-serif;
}

/* Main Nav */
.mainNav {
  background: #1D1D1B;
  color: white;
  height: 80px;
  padding: 0px;
  list-style: none;
  display: flex;
  font-weight: 600;
}

.mainNav li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown {
  flex: 3;
}

.img {
  flex: 3;
}

.mainNav a, button, img {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 21px;
}

.mainNav a:hover, button:hover {
  background: #F1C54E;
  color: #1D1D1B;
}

.drop-button {
  z-index: 1;
}

.first .drop-content {
  position: absolute;
  width: 20%;
  height: 320px;
  display: flex;
  flex-direction: column;
  background: #1D1D1B;
  top: -240px;
  transition: top 200ms;
  z-index: -1;
}

.second .drop-content {
  position: absolute;
  width: 20%;
  height: 160px;
  display: flex;
  flex-direction: column;
  background: #1D1D1B;
  top: -80px;
  transition: top 200ms;
  z-index: -1;
}

.third .drop-content {
  position: absolute;
  width: 20%;
  height: 240px;
  display: flex;
  flex-direction: column;
  background: #1D1D1B;
  top: -160px;
  transition: top 200ms;
  z-index: -1;
}

.dropdown:hover > .drop-content {
  top: 80px;
  z-index: 0;
}

.drop-content a {
  flex: 1;
  width: 100%;
}

.space {
  width: 5%;
}

.fas {
  opacity: 0.8;
}