body {
  margin: 0px;
  font-family: Lato, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1 {
  font-size: 40px;
  font-weight: 900px;
}

/* Main Nav */
.mainNav { /* <nav> */
  height: 80px;
  padding: 0px 40px;
  font-weight: 600;
  display: flex;
  box-shadow: 0px 6px 8px rgba(1, 1, 1, 0.09);
}

.mainNav div { /* image div */
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.mainNav div img { /* logo */
  height: 59px;
  width: auto;
  margin-right: 40%;
}

.mainNav ul {
  display: flex;
}

.mainNav ul li {
  flex-direction: column;
  align-items: center;
  flex: 1;
  min-width: 200px;
}

.mainNav a, button {
  color: #1D1D1B;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 19px;
}

.mainNav a:hover {
  color: #F1C54E;
}

.drop-button {
  z-index: 4;
}

.join .drop-content {
  position: absolute;
  width: 200px;
  height: 320px;
  display: flex;
  flex-direction: column;
  z-index: -1;
  top: -270px;
}

.resources .drop-content {
  position: absolute;
  width: 200px;
  height: 80px;
  display: flex;
  flex-direction: column;
  z-index: -1;
}

.contact .drop-content {
  position: absolute;
  width: 200px;
  height: 80px;
  display: flex;
  flex-direction: column;
  z-index: -1;
}

.account-user .drop-content {
  position: absolute;
  width: 200px;
  height: 240px;
  display: flex;
  flex-direction: column;
  z-index: -1;
}

.account-noUser .drop-content {
  position: absolute;
  width: 200px;
  height: 160px;
  display: flex;
  flex-direction: column;
  z-index: -1;
}

.drop-content a {
  flex: 1;
  width: 100%;
  background: white;
  color: #1D1D1B;
  opacity: 0;
}

.dropdown:hover > .drop-content a {
  opacity: 1;
  transition: opacity 100ms cubic-bezier(1, 1, 1, 1);
}

.dropdown:hover > .drop-content a:first-child {
  box-shadow: inset 0px 7px 7px -5px rgba(1, 1, 1, 0.1);
}

.dropdown:hover > .drop-content {
  z-index: 0;
  top: 80px;
  box-shadow: 0px 3px 5px rgba(1, 1, 1, 0.1);
  transition: box-shadow 100ms cubic-bezier(1, 1, 1, 1);
}

.space {
  height: 30px;
}

/* - - - - HEADER - - - -*/
header {
  padding-top: 4%;
  display: flex;
  flex-direction: column;
}

/* - - - - MAIN - - - -*/
main {
  padding: 20px 0px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* - - - -BUTTONS - - - - */
main button, header button {
  width: 115px;
  height: 45px;
  margin: 0 auto;
  border: 2.5px solid #1D1D1B;
  border-radius: 45px;
  font-weight: 700;
  transition: box-shadow 100ms, background 100ms, color 100ms;
}

main button:hover, header button:hover {
  background: #1D1D1B;
  color: white;
}

/* - - - - FOOTER - - - - */
footer {
  display: flex;
}

.box {
  min-height: 40px;
  max-height: 90px;
  padding: 5px 15px;
  flex: 1;
  background: #1D1D1B;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}