form {
  margin: 35px;
  padding: 25px;
}

.outline {
  border: 1px solid rgba(1, 1, 1, 0.08);
  border-radius: 10px;
  padding: 30px 0px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 2% 27% 4% 27%;
  min-width: 430px;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  display: flex;
  flex-direction: column;
  height: 80px;
  max-height: 80px;
  width: 100%;
}

.field {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  border: 1px solid black;
}

.field:focus {
  background: white;
  border: 2px solid black;
}

.submit {
  margin-top: 35px;
  background: white;
  color: #1D1D1B;
}

.submit a {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.firstErrors, .lastErrors, .emailErrors, .passwordErrors {
  margin-top: 5px;
  color: red;
  font-size: 14px;
}

@media screen and ( max-width: 925px ) {

  form {
    margin: 15px;
    padding: 10px;
  }

  .outline {
    border: 0px solid rgba(1, 1, 1, 0.08);
    padding: 20px 0px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 2.5% 3% 5% 3%;
  }

}