<div class="outline">
<header>
  <h1>Parent or Student?</h1>
</header>
<main>

  <form class="details__one" data-id="<%= registration.id %>" data-process="<%= registration.process %>">

    <div class="signup">

      <div class="details">

        <p>Are you registering for yourself or your child?</p>

        <div class="details__div">
          <div>
            <label for="is_student" class="details__field">Student</label>
            <input name="student" id="is_student" type="radio" value="student" required class="details__field">
          </div>

          <div>
            <label for="is_parent" class="details__field">Parent</label>
            <input name="student" id="is_parent" type="radio" value="parent" class="details__field">
          </div>
        </div>

      </div>

    </div>

    <div class="submit">
      <button>Next</button>
    </div>

  </form>
  
</main>
</div>

<script src="/js/details_one.js"></script>