<div class="outline">
<header>
  <h1>Give us some more info</h1>
</header>
<main>

  <form>

    <h2>You are on step 2 of 5</h2>
    <p>You chose <%= registration.discipline %> as your instrument of choice.</p>

    <div class="signup">

      <div class="input">
        <input name="discipline" id="discipline" value="<%= `${registration.discipline[0].toUpperCase()}${registration.discipline.slice(1, registration.discipline.length)}` %>" type="text" placeholder="<%= registration.discipline %>" class="field">
        <div class="firstErrors"></div>
      </div>

      <div class="input">
        <input name="subdiscipline" id="subdiscipline" type="text" placeholder="e.g, Classical Guitar" class="field">
        <div class="lastErrors"></div>
      </div>

      <div class="input">
        <input name="email" id="email" type="email" placeholder="email" class="field">
        <div class="emailErrors"></div>
      </div>

      <div class="input">
        <input name="password" id="password" type="password" placeholder="password" class="field">
        <div class="passwordErrors"></div>
      </div>

    </div>

    <div class="submit">
      <button>Sign Up</button>
    </div>

  </form>

</main>
</div>