<div class="outline">
<header>
  <h1>Give us some more info</h1>
</header>
<main>

  <form>

    <p>You chose <%= registration.discipline %> as your discipline.</p>

    <div class="signup">

      <div class="input">
        <input name="discipline" id="discipline" value="<%= `${registration.discipline[0].toUpperCase()}${registration.discipline.slice(1, registration.discipline.length)}` %>" type="text" placeholder="<%= registration.discipline %>" class="field">
        <div class="disciplineErrors"></div>
      </div>

      <div class="input">
        <input name="subdiscipline" id="subdiscipline" type="text" placeholder="e.g, Electric Guitar" class="field">
        <div class="subdisciplineErrors"></div>
      </div>

      <div class="input">
        <input name="lessons" id="lessons" type="number" placeholder="# of lessons per week" class="field">
        <div class="lessonsErrors"></div>
      </div>

      <div class="input">
        <label for="level">At what level are you in this discipline?</label>
        <input list="levels" id="level" name="level" class="field">
        <datalist id="levels">
          <option value="absolute beginner"></option>
          <option value="beginner"></option>
          <option value="intermediate"></option>
          <option value="advanced"></option>
        </datalist>
        <div class="levelErrors"></div>
      </div>

    </div>

    <div class="submit">
      <button>Sign Up</button>
    </div>

  </form>

</main>
</div>