<div class="outline">
  <header>
    <h1>Student Details 2</h1>
  </header>
  <main>
    <form class="details__three" data-id="<%= registration.id %>" data-process="<%= registration.process %>">
      
      <div class="signup">

        <% if (registration.is_parent) { %>
          <p>Please enter your child's details below</p>
        <% } %>
  
        <div class="input">
          <input name="first" id="first" type="text" placeholder="first name" class="field">
          <div class="firstErrors"></div>
        </div>
  
        <div class="input">
          <input name="last" id="last" type="text" placeholder="last name" class="field">
          <div class="lastErrors"></div>
        </div>
  
        <div class="input">
          <input id="age" name="age" type="number" placeholder="age" class="field">
          <div class="ageErrors"></div>
        </div>
        
        <div class="input">
          <input list="genders" id="gender" name="gender" placeholder="gender" class="field">
          <datalist id="genders">
            <option value="male"></option>
            <option value="female"></option>
            <option value="Rather not say"></option>
          </datalist>
          <div class="genderErrors"></div>
        </div>

        <div class="input">
          <input id="email" name="email" type="email" placeholder="email" class="field">
          <div class="emailErrors"></div>
        </div>

        <div class="input">
          <input id="cell" name="cell" type="tel" placeholder="cell number" class="field">
          <div class="cellErrors"></div>
        </div>
  
      </div>
  
      <div class="submit">
        <button>Next</button>
      </div>
  
    </form>
  </main>
  </div>

  <script src="/js/details_three.js"></script>