<header>
  <h1>Join the Scholtz School of Music</h1>
  <h2>What instrument do you want to learn?</h2>
</header>
<main class="join">
  
  <section class="join__guitar">
    <a data-discipline="guitar">Guitar</a>
  </section>
  <section class="join__drums">
    <a data-discipline="drums">Drums</a>
  </section>
  <section class="join__bass">
    <a data-discipline="bass">Bass</a>
  </section>
  <section class="join__theory">
    <a data-discipline="theory">Music Theory</a>
  </section>

</main>